
/* Your CSS Code here. */
.holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }
    .item-1{
        width: 100px;
        height: 100px;
        background: black;
    }